<a href="https://colab.research.google.com/github/Arhin-Eben/Machine-learning-with-python/blob/master/Preprocessing__Categorical_Data_W3schools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Preprocessing - Categorical Data**

In [16]:
import pandas as pd

cars = pd.read_csv('/content/data.csv')
cars.head()

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105

In [17]:
#One Hot Encode the Car column:

ohe_cars = pd.get_dummies(cars[['Car']], dtype=int)

print(ohe_cars.to_string())

    Car_Audi  Car_BMW  Car_Fiat  Car_Ford  Car_Honda  Car_Hundai  Car_Hyundai  Car_Mazda  Car_Mercedes  Car_Mini  Car_Mitsubishi  Car_Opel  Car_Skoda  Car_Suzuki  Car_Toyoty  Car_VW  Car_Volvo
0          0        0         0         0          0           0            0          0             0         0               0         0          0           0           1       0          0
1          0        0         0         0          0           0            0          0             0         0               1         0          0           0           0       0          0
2          0        0         0         0          0           0            0          0             0         0               0         0          1           0           0       0          0
3          0        0         1         0          0           0            0          0             0         0               0         0          0           0           0       0          0
4          0        0         0         0          0           0            0          0             0         1               0         0          0           0           0       0          0
5          0        0         0         0          0           0            0          0             0         0               0         0          0           0           0       1          0
6          0        0         0         0          0           0            0          0             0         0               0         0          1           0           0       0          0
7          0        0         0         0          0           0            0          0             1         0               0         0          0           0           0       0          0
8          0        0         0         1          0           0            0          0             0         0               0         0          0           0           0       0          0
9          1        0         0         0          0           0            0          0             0         0               0         0          0           0           0       0          0
10         0        0         0         0          0           0            1          0             0         0               0         0          0           0           0       0          0
11         0        0         0         0          0           0            0          0             0         0               0         0          0           1           0       0          0
12         0        0         0         1          0           0            0          0             0         0               0         0          0           0           0       0          0
13         0        0         0         0          1           0            0          0             0         0               0         0          0           0           0       0          0
14         0        0         0         0          0           1            0          0             0         0               0         0          0           0           0       0          0
15         0        0         0         0          0           0            0          0             0         0               0         1          0           0           0       0          0
16         0        1         0         0          0           0            0          0             0         0               0         0          0           0           0       0          0
17         0        0         0         0          0           0            0          1             0         0               0         0          0           0           0       0          0
18         0        0         0         0          0           0            0          0             0         0               0         0          1           0           0       0          0
19         0        0         0         1          0           0            0          0             0         0               0         0          0           0           0       0          0
20         0        0         0         1          0           0            0          0             0         0               0         0          0           0           0       0          0
21         0        0         0         0          0           0            0          0             0         0               0         1          0           0           0       0          0
22         0        0         0         0          0           0            0          0             1         0               0         0          0           0           0       0          0
23         0        0         0         0          0           0            0          0             0         0               0         0          1           0           0       0          0
24         0        0         0         0          0           0            0          0             0         0               0         0          0           0           0       0          1
25         0        0         0         0          0           0            0          0             1         0               0         0          0           0           0       0          0
26         1        0         0         0          0           0            0          0             0         0               0         0          0           0           0       0          0
27         1        0         0         0          0           0            0          0             0         0               0         0          0           0           0       0          0
28         0        0         0         0          0           0            0          0             0         0               0         0          0           0           0       0          1
29         0        1         0         0          0           0            0          0             0         0               0         0          0           0           0       0          0
30         0        0         0         0          0           0            0          0             1         0               0         0          0           0           0       0          0
31         0        0         0         0          0           0            0          0             0         0               0         0          0           0           0       0          1
32         0        0         0         1          0           0            0          0             0         0               0         0          0           0           0       0          0
33         0        1         0         0          0           0            0          0             0         0               0         0          0           0           0       0          0
34         0        0         0         0          0           0            0          0             0         0               0         1          0           0           0       0          0
35         0        0         0         0          0           0            0          0             1         0               0         0          0           0           0       0          0

Results

A column was created for every car brand in the Car column.

In [18]:
#Predict CO2
import pandas as pd

cars = pd.read_csv('/content/data.csv')

#create the dummy variables:
ohe_cars = pd.get_dummies(cars[['Car']], dtype=int)

#select the independent variables (X) and add the dummy variables columnwise.
#Also store the dependent variable in y.
X = pd.concat([cars[['Volume','Weight']], ohe_cars], axis=1)
y = cars['CO2']

#import a method from sklearn to create a linear model
from sklearn import linear_model

#create a linear regression object
regr = linear_model.LinearRegression()

#train the model
regr.fit(X, y)

##predict the CO2 emission of a VW where the weight is 2300kg, and the volume is 1300cm3:
predictedCO2 = regr.predict([[2300,1300,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0]])

print(predictedCO2)

[122.45153299]

/usr/local/lib/python3.11/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

We now have a coefficient for the volume, the weight, and each car brand in the data set

**Dummifying**

In [19]:
#For example, you have a column representing colors and in that column, you have two colors, red and blue
import pandas as pd

colors = pd.DataFrame([['red'], ['blue']], columns=['color'])

print(colors)

  color
0   red
1  blue

In [25]:
#You can create 1 column called red where 1 represents red and 0 represents not red, which means it is blue.
import pandas as pd

colors = pd.DataFrame([['red'], ['blue']], columns=['color'])
dummies = pd.get_dummies(colors, drop_first=True)

print(dummies)

   color_red
0       True
1      False